@model Project.Service.Models.VehicleModel

@{
    ViewData["Title"] = "ReadModel";
}

<h1>ReadModel</h1>

<div>
    <h4>VehicleModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abrv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abrv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MakeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MakeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditModel", new { id = Model.Id }) |
    <a asp-action="AdministrateModels">Back to List</a>
</div>
